<div class="row">
    <div class="col-xs-12">
        <form (ngSubmit)="onAddItem(shoppingEdit)" #shoppingEdit="ngForm">
            <div class="row">
                <div class="col-sm-6 form-group">
                    <label for="name">Name:</label>
                    <input type="text" name="ingredientName" id="name" class="form-control" ngModel required>
                </div>
                <div class="col-sm-3 form-group">
                    <label for="amount">Amount:</label>
                    <input type="number" name="ingredientAmount" id="amount" class="form-control" ngModel required pattern="^[1-9]+[0-9]*$"> 
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 pl-2">
                    <button type="submit"  [disabled]="!shoppingEdit.valid" class="btn btn-success ml-1 mr-1">{{editMode? 'Update': 'Add'}}</button>
                    <input type="reset" (click)="onReset()" value="Clear" class="btn btn-dark ml-1 mr-1">
                    <input type="button" value="Delete" (click)="onDelete()" *ngIf="editMode" class="btn btn-danger ml-1 mr-1">
                </div>
            </div>
        </form>
    </div>
</div>