<div class="row">
    <div class="col-xs-12">
        <form>
            <div class="row">
                <div class="col-sm-6 form-group">
                    <label for="name">Name:</label>
                    <input type="text" name="" id="name" class="form-control" #nameInput>
                </div>
                <div class="col-sm-3 form-group">
                    <label for="amount">Amount:</label>
                    <input type="number" name="" id="amount" class="form-control" #amountInput>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 pl-2">
                    <input type="button" value="Add" class="btn btn-success ml-1 mr-1" (click)="onAddItem()">
                    <input type="button" value="Clear" class="btn btn-dark ml-1 mr-1">
                    <input type="button" value="Delete" class="btn btn-danger ml-1 mr-1">
                </div>
            </div>
        </form>
    </div>
</div>