<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
    <a href="" class="navbar-brand">Recipe Application</a>
    
    <div class="collapse navbar-collapse" id="">
        <div class="navbar-nav">
            <!-- <a href="#" class="nav-item nav-link" (click)="OnSelect('Recipe')">Recipe</a>
            <a href="#" class="nav-item nav-link" (click)="OnSelect('ShoppingList')" >Shopping List</a> -->

            <a class="nav-item nav-link" routerLink="/recipes" routerLinkActive="active">Recipe</a>
            <a class="nav-item nav-link" routerLink="/shopping-list" routerLinkActive="active">Shopping List</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown" appDropdown>
                <a class="btn btn-dark dropdown-toggle" role="button" data-toggle="dropdown" id="ddMenuLink" >Manage <span class="caret"></span></a>
                <ul class="dropdown-menu" aria-labelledby="ddMenuLink">
                    <li><a (click)="onSaveData()">Save Data</a></li>
                    <li><a (click)="onFetchData()">Fetch Data Data</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>