<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12">
        <img [src]="recipe.imagePath" [alt]="recipe.name" class="img-fluid" width="350" height="300">
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12">
        <h1>{{ recipe.name }}</h1>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12">
        <div class="btn-group" appDropdown>
            <button class="btn-dark dropdown-toggle" style="width: 100%;" data-toggle="dropdown" id="dropdownMenu" >
                Manage Recipe
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu">
                <li><a (click)="onAddToShoppingList()">Shopping List</a></li>
                <li><a [routerLink]="['../Edit', id]">Edit</a></li>
                <li><a (click)="onDelete()">Delete </a></li>
            </ul>
        </div>
    </div>
</div>
<div class="row mt-2 mb-2">
    <div class="col-xs-12 col-sm-12 col-md-12">
        Description: {{ recipe.decription }}
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12">
        <ul class="list-group">
            <li class="list-group-item" 
            *ngFor="let ingredient of recipe.ingredients">
        {{ ingredient.name}} - {{ ingredient.amount}}</li>
        </ul>
    </div>
</div>